# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OCI
*.pem
oci_api_key*

# direnv (in case you add it later)
.envrc

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Notes / scratch (not for git)
commands.md
outputs.log