tenancy_ocid     = "ocid1.tenancy.oc1..xxxxx"
user_ocid        = "ocid1.user.oc1..xxxxx"
fingerprint      = "aa:bb:cc:dd:ee:ff:..."
private_key_path = "~/.oci/your_key_name.pem"
region           = "ap-mumbai-1"
compartment_ocid = "ocid1.compartment.oc1..xxxxx"
ssh_public_key      = "ssh-ed25519 AAAA... you@host"
availability_domain = "xxxx:AP-MUMBAI-1-AD-1"